StackLayout {
    border-color: greenyellow;
    border-width: 5px;
    padding: 10px;
    height:300px;
}

Label {
    width: 50px;
    height:50px;
}

#i1 {
    background: red;
}
#i2 {
    background: blue;
}
#i3 {
    background: orange;
}
