<ActionBar title="Current challenge" (loaded)="onLoadActionBar()">
  <NavigationButton text="Go back"
   android.systemIcon="ic_menu_back"></NavigationButton>
   </ActionBar>
<StackLayout>
    <Label text="The current challenge" horizontalAlignment="center"></Label>
    <Button text="Edit" (tap)="onEdit()"></Button>

</StackLayout>


















<!--<ListView [items]="challenges" (itemTap)="onItemTap($event)"-->
          <!--iosEstimatedRowHeight="65">-->
    <!--<ng-template let-challenge="item" let-i="index">-->
        <!--<GridLayout rows="40,20" columns="50,*">-->
            <!--<Label [text]="i" row="0" col="0" rowSpan="2"></Label>-->
                <!--<Label [text]="challenge" row="0" col="1" rowSpan="2"></Label>-->
            <!--<Label text="Item content row2" row="1" col="1" rowSpan="2"></Label>-->
        <!--</GridLayout>-->

    <!--</ng-template>-->

<!--</ListView>-->















<!--<ScrollView>-->
<!--<StackLayout>-->

    <!--<Label-->
           <!--class="title"-->
           <!--[text]="challenge"-->
           <!--horisontalAlignment="center"-->
           <!--*ngFor="let challenge of challenges"-->
    <!--&gt;</Label>-->
<!--</StackLayout>-->
<!--</ScrollView>-->

